<html lang="vi-VN" data-nhanh.vn-template="T0321">
<head>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d69fb28507.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta name="robots" content="noindex">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>PETSHOP NTN</title>
    <meta property="og:image" content="https://pos.nvncdn.net/26be7c-108267/store/20211001_drDdKcUKHoG0paeW6h9xKvP7.png">
    <meta name="DC.language" content="scheme=utf-8 content=vi">

    <meta name="google-site-verification" content="">
    <meta name="facebook-domain-verification" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://pos.nvncdn.net/26be7c-108267/store/20211001_RsxwnyE2uyECueudjoycnOPK.png" rel="icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fontAwesome/fontawesome-5.0.13.min.css?v=4" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=4" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/owlCarousel/owl.carousel.min.2.3.4.css?v=4" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/js/mmenu/css/jquery.mmenu.css?v=4" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0321/css/style.css?v=28" type="text/css">
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.min.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/lib.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.cookie.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.number.min.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery-ui-1.10.3.custom.min.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/mmenu/js/jquery.mmenu.min.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/slimscroll.min.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/bootstrap/boostrap.popper.min.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/bootstrap/bootstrap.4.3.1.min.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/owlCarousel/owl.carousel.min.js?v=2"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0321/js/main.js?v=8"></script>

    <style type="text/css">
        .tp_text_color {
            color: #140202 !important
        }

        body {
            font-size: 20px !important
        }

        .tp_button {
            background: #e90c0c !important;
            border-color: #e90c0c !important;
            box-shadow: none !important
        }

        .tp_button {
            color: #ffffff !important
        }

            .tp_button:hover {
                background: #b00c0c !important
            }

        .tp_product_name, .tp_product_name > a {
            color: #140202 !important
        }

        .tp_product_price {
            color: #140202 !important
        }

        .tp_product_price_old {
            color: #000000 !important
        }

        .tp_title {
            color: #140202 !important
        }

            .tp_title, .tp_title > span {
                background: #000000 !important
            }

        .tp_menu .tp_menu_item.active, .tp_menu .tp_menu_item.active > a {
            color: #140202 !important
        }

        .tp_menu .tp_menu_item {
            color: #140202 !important
        }

        .tp_menu .tp_menu_item {
            font-size: 20px !important
        }

        .tp_banner_main {
            display: block !important
        }


        <style type="text/css" >
        img {
            max-width: 100%;
        }

        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }

        .fb-customerchat > span > iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat > span > iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <style>
        #canle a {
            margin-bottom: 50px;
        }
    </style>
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=231013_172145" defer=""></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async=""></script>
    <style>
        figure.image {
            clear: both;
            display: table;
            margin: .9em auto;
            min-width: 50px;
            text-align: center;
            width: auto !important;
        }

            figure.image img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                min-width: 100%;
                height: auto !important;
            }

            figure.image > figcaption {
                background-color: #f7f7f7;
                caption-side: bottom;
                color: #333;
                display: table-caption;
                font-size: .75em;
                outline-offset: -1px;
                padding: .6em;
                word-break: break-word;
            }
    </style>
    <style type="text/css">
        .imgpet {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 400px;
        }

            .imgpet:hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        .imgpetnhieu {
            width: 100px;
        }
    </style>
    <script src="https://web.nvnstatic.net/js/translate/vi-vn.js" defer=""></script>
    <script src="https://cdn.themesinfo.com/detector.js"></script>
    <style>
        .parent {
            position: relative;
        }

        .input {
            outline: none;
            border: none;
            border-radius: 100px;
            padding: 5px 5px;
            width: 20px;
            transition: width 0.3s ease;
        }

            .input::placeholder {
                color: gray;
            }

        .parent.active .input {
            width: 150px;
        }

        .btnfind {
            width: 40px;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 100px;
            border: none;
            background: ghostwhite;
            display: inline;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.3s ease;
        }

        .parent.active .btnfind {
            transform: translateX(150px);
        }

        .btnfind:hover {
            background: whitesmoke;
        }
    </style>
    
</head>

<body class="tp_background tp_text_color" style="">
    <input type="hidden" value="108267" id="storeId"><div id="header" class="tp_header">
        <div class="container">
            <div class="content-header">
                <div class="row  align-items-center">
                    <div class="col-lg-8 col-12 tab-logo d-flex align-items-center p-0 left-header">
                        <div class="col-lg-3 col-4">
                            <a href="@Url.Action("Index","User")" class="logo">
                                <img src="~/Image/logopetshop (1).jfif">
                            </a>
                        </div>
                        <div class="parent">
                            @using (Html.BeginForm("Find", "User", FormMethod.Get, new { @class = "form-inline" }))
                            {
                                <input class="input" type="text" value="@ViewBag.Keyword" name="searchString" placeholder="Bạn cần tìm gì..." />
                            }
                            <button class="btnfind">
                                <i class=" fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 right-header d-none d-lg-block">
                        <ul class="d-flex align-items-center m-0">
                            <li class="box-user d-flex align-items-center justify-content-center">
                                <ul>
                                    <li>
                                        <a class="font-weight-bold" href="/profile">Tài khoản</a>
                                       
                                        <ul>
                                            @{
                                                if ((Cuahangthucung.Models.KHACHHANG)HttpContext.Current.Session["TaikhoanUser"] != null || (Cuahangthucung.Models.ADMIN)HttpContext.Current.Session["TaikhoanAdmin"] != null)
                                                {
                                                    if ((Cuahangthucung.Models.KHACHHANG)HttpContext.Current.Session["TaikhoanUser"] != null)
                                                    {
                                                        var user = (Cuahangthucung.Models.KHACHHANG)HttpContext.Current.Session["TaikhoanUser"];
                                                        <span class="d-none d-lg-inline-flex">@user.HoTen</span>
                                                    }
                                                    else if ((Cuahangthucung.Models.ADMIN)HttpContext.Current.Session["TaikhoanAdmin"] != null)
                                                    {
                                                        var Admin = (Cuahangthucung.Models.ADMIN)HttpContext.Current.Session["TaikhoanAdmin"];
                                                        <span class="d-none d-lg-inline-flex">@Admin.HoTen</span>
                                                    }
                                                    <a href="@Url.Action("Logout","Admin")" style="text-align:center"><br />Logout</a>
                                                }

                                                else if ((Cuahangthucung.Models.KHACHHANG)HttpContext.Current.Session["TaikhoanUser"] == null || (Cuahangthucung.Models.ADMIN)HttpContext.Current.Session["TaikhoanAdmin"] == null)
                                                {
                                                    <a class="d-lg-block d-xl-inline-block" href="@Url.Action("DangKi","User")" title="signup">Đăng Kí</a>
                                                    <a href="@Url.Action("Login", "Admin")">Đăng nhập</a>
                                                }


                                            }


                                        </ul>
                                        </li></ul>
                                
                            </li>
                            <li class="box-cart d-flex align-items-center justify-content-center">
                                <div class="position-relative">
                                    
                                    <li>
                                        @Html.Action("GioHangPartial", "GioHang")
                                    </li>
                                    
                                </div><ul><li><a href="/cart" class="font-weight-bold"></a></li><li><a href="/cart" title="cart">Vận chuyển toàn quốc</a></li></ul>
                           
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div><div id="header-bt" class="">
        <div class="container">
            <div class="row">
                <div class="cate-title">
                    <p class="m-0 pt-2 pb-2 d-none d-lg-block">
                        <i class="fas fa-bars"></i>

                        <span class="ml-1 text-uppercase">Danh mục sản phẩm</span>
                    </p>
                </div><div class="menu-custom tp_menu"><div class="menu-wrap d-none d-lg-block"><ul><li><a href="/gioi-thieu-ve-nhanh.vn-n98532.html">Giới thiệu</a></li><li><a href="/news">Tin tức</a></li><li><a href="/tra-cuu-don-hang">Tra cứu đơn hàng</a></li><li><a href="https://nhanh.vn/nhanh.vn-tuyen-dung-nc4.html">Tuyển dụng</a></li></ul></div></div>
            </div><div id="header-content" style="display: block;">
                <div class="container">
                    <div class="row">
                        <div class="content-premium col-12 p-0">
                            <div class="tab-menu">
                                <a href="javascript:void(0)" class="close-menu-bar">
                                    <i class="fas fa-times"></i>
                                </a>
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 388px;">
                                    <nav class="menu" itemscope="" itemtype="https://www.schema.org/SiteNavigationElement" style="overflow: hidden; width: auto; height: 388px;">
                                        <li itemprop="name">
                                            <a itemprop="url" href="@Url.Action("PetByTopic","User")">Mèo<i class="fa-solid fa-cat"></i></a>


                                        </li>   
                                    <li itemprop="name">
                                            <a itemprop="url" href="@Url.Action("PetByTopic1","User")">Chó<i class="fa-solid fa-dog"></i> </a>
                                        </li>
                                        
                                        <li itemprop="name">
                                            <a itemprop="url" href="@Url.Action("PetByTopic2","User")"> Cá <i class="fa-solid fa-fish"></i> </a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="@Url.Action("PetByTopic3","User")"> Bò Sát<i class="fa-solid fa-dragon"></i></a>
                                        </li>

                                      <li class="item-menu-more d-lg-none"><a href="/cart">Giỏ hàng</a></li><li class="item-menu-more d-lg-none"><a href="/order/search">Tra cứu đơn hàng</a></li><li class="item-menu-more d-lg-none"><a href="/user/signin">Đăng nhập</a></li>
                                    </nav><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; left: 1px; height: 359.294px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; left: 1px;"></div>
                                </div>
                            </div><div class="banner-pc"><div class="banner-home owl-carousel"></div></div><div class="banner-home-right d-none d-xl-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><h1 class="d-none">T - House</h1><div class="content home-page">
    <div class="container">
        <div class="row">
            <div class="col-12 p-md-0">
                <div class="home-policy"><div class="row"><div class="col-md-4 col-12 item-policy"><p><img alt="" src="https://pos.nvncdn.net/26be7c-108267/contentKey/20220309_yLVCDg8fDyiU.png" style="width:100px;height:100px;"></p><div class="info a-left"><h5>Sản phẩm chính hãng</h5><p></p><p><span style="font-family:Roboto, '-apple-system', BlinkMacSystemFont, Roboto, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';font-size:14px;">Hoàn trả giá trị sản phẩm nếu phát hiện hàng giả, hàng nhái</span></p><p></p></div></div><div class="col-md-4 col-12 item-policy"><p><img alt="" src="https://pos.nvncdn.net/26be7c-108267/contentKey/20220309_CfYd6mS7GR49.png" style="width:100px;height:100px;"></p><div class="info a-left"><h5>Vận chuyển toàn quốc</h5><p></p><p>Sẵn sàng phục vụ vận chuyển trên 63 tỉnh thành của cả nước.</p><p></p></div></div><div class="col-md-4 col-12 item-policy"><p><img alt="" src="https://pos.nvncdn.net/26be7c-108267/contentKey/20220309_NImfzZlSaXKD.png" style="width:100px;height:100px;"></p><div class="info a-left"><h5>Xem hàng trước khi thanh toán</h5><p></p><p>Đảm bảo quyền lợi của quý khách với hình thức xem hàng trước , thanh toán sau.</p><p></p></div></div></div></div><div class="product-hot tp_product_hot loadProductHot">
                    <a href="/product?show=hot">
                        <h2 class="title-home text-uppercase font-weight-bold d-inline-block"></h2>
                    </a>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let input = document.querySelector(".input");
        let btn = document.querySelector(".btnfind");
        let parent = document.querySelector(".parent");

        btn.addEventListener("click", () => {
            parent.classList.toggle("active");
            input.focus();
        });
    </script>
    @*------------------------------------------------------------footer--------------------------------------------------------------*@
    <div id="canle">
        <footer class="container well" align="center" style="background-color: #f1f1f1;">
            <div style="text-align: center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.780748297073!2d106.67059877068077!3d10.979915165271517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1afa65b1d3b%3A0x31155d219ba1ed06!2zRS1MZWFybmluZyAtIMSQ4bqhaSBo4buNYyBUaOG7pyBE4bqndSBN4buZdA!5e0!3m2!1svi!2s!4v1700622608308!5m2!1svi!2s" width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- Grid container -->
            <div class="container pt-4">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <!-- Twitter -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <!-- Google -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-google"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <!-- Github -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
                <!-- Section: Social media -->
                <!-- Grid container -->
                <!-- Copyright -->
                © 2020 Copyright:
                <a class="text-dark" href="#">PetShopNTN</a>
                <!-- Copyright -->
            </div>
        </footer>
    </div>
</body>
