@model Cuahangthucung.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Xoá Khách Hàng</h2>

<h3 style="text-align:center; font-weight:bold; color:red">Bạn có chắc chắn xoá khách hàng này?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>

        <dt>
            Họ và tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Tài khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            Ngày Sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Trở lại danh sách", "KhachHang") |
    <input type="submit" value="Xoá" class="btn btn-default" style="font-size:16px" /> 

</div>
    }
</div>
