@using Cuahangthucung.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Cuahangthucung.Models.DONDATHANG>

@{
    ViewBag.Title = "Quản Lí Đơn Hàng";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>DonHang</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th style="text-align:center" ; width="100px">
            Mã đơn hàng
        </th>
        <th style="text-align:center" ; width="100px">
            Đã thanh toán
        </th>
        <th style="text-align:center" ; width="200px">
            Trình trạng giao hàng<br />
            1: đang giao<br />
            2: đã giao
        </th>
        <th style="text-align:center" ; width="100px">
            Ngày đặt
        </th>
        <th style="text-align:center" ; width="100px">
            Ngày giao
        </th>
        <th style="text-align:center" ; width="100px">
            Mã khách hàng
        </th>
       


        <th style="text-align:center" ; width="200px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center" >
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td style="text-align:center" >
                @Html.DisplayFor(modelItem => item.DaThanhToan)
            </td>
            <td style="text-align:center" >
                @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
            </td>
            <td style="text-align:center" >
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td style="text-align:center" >
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td style="text-align:center" >
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.MaDonHang })" class="btn btn-warning" role="button"
                   style="background-color: #f39c12; color: #fff; font-size:15px">Sửa</a>

                @*<a href="@Url.Action("Details", new { id = item.MaDonHang })" class="btn btn-primary" role="button"
                   style="background-color: #007bff; color: #fff; font-size: 15px">Chi tiết</a>

                <a href="@Url.Action("Delete", new { id = item.MaDonHang })" class="btn btn-danger" role="button"
                   style="background-color: #dc3545; color: #fff; font-size: 15px">Xóa</a>*@
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="Menu">
    @Html.PagedListPager(Model, page => Url.Action("DonHang", new { page = page }))
</div>
<style>
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .pagination a {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #ddd;
            margin: 0 5px;
            text-decoration: none;
            color: #333;
        }

            .pagination a.active {
                background-color: #f9b536;
                color: #fff;
            }
</style>