@model Cuahangthucung.Models.THUCUNG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>THUCUNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>
            <img src="@Url.Content("~/Image/"+ Model.AnhBia) " height="200px" width="150px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLoaiTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNCC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "Index")
        </div>
    }
</div>
